.env
.env.*
!.env.example
!.env.production.example
.git
.gitignore
.phpunit.cache
.phpunit.result.cache
.DS_Store
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
tests
docker/README.md
